<!DOCTYPE html>
<html>
<head>
 <title></title>
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

</head>
<body style="background-color:powderblue;">
<br><br><h1 style="text-align:center;color:green;">GasGeek</h1><br><br>
<p style="text-align:center;color:blue;font-size:120%;line-height:1.7em;">We want to enable environmental enthusiasts like yourself to better understand the impact of your vehicle on the world. Click on 'View Cars' below to get started!</p>
<p style="text-align:center;color:blue;"><a href=show_cars ><button class=grey style="height:50px;width:100px;color:blue;">View Cars</button></a></p>
</body>
</html>